.dropdown{
	display: 	
}

.dropdown-item{
	cursor: pointer;
}

.dropdown-item:hover{
	background-color: #b7c7f2;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 54px 54px;
}

.dropzone, .dropzone * {
    box-sizing: border-box;
}