<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
    <meta charset="UTF-8" />
    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <!-- Bootstrap core CSS -->
	<link href="/boot/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Custom fonts for this template -->
	<link href="/boot/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	
	<!-- Custom styles for this template -->
	<link href="/boot/css/clean-blog.min.css" rel="stylesheet">
	<link href="/css/common/common.css" rel="stylesheet">

    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>

    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
	<!-- Bootstrap core JavaScript -->
	<script src="/boot/vendor/jquery/jquery.min.js"></script>
	<script src="/boot/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Custom scripts for this template -->
	<script src="/boot/js/clean-blog.min.js"></script>
    <th:block layout:fragment="script"></th:block>
</head>

</html>