<!-- //Meta Data -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Latest updates and statistic charts">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- //기본적인 html head 추가부 -->
<th:block layout:fragment="html_head"></th:block>

<!-- //Css lib -->
<!-- <link rel="stylesheet" th:href="@{/lib/AdminLTE-2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css}" /> -->
<!-- <link rel="stylesheet" th:href="@{/lib/sweetalert2/sweetalert2.min.css}" /> -->
<!-- <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" /> -->

<!-- //Etc Add on Lib -->
<!-- <th:block layout:fragment="add_lib_css"></th:block> -->

<!-- //Css custom -->
<!-- <link rel="stylesheet" th:href="@{/css/common/loading.css}" /> -->
<!-- <link rel="stylesheet" th:href="@{/css/common/common_main.css}" /> -->