<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$('#all').on("click", function() {
	   if($('#all').is(":checked")){
		   $('input:checkbox').prop("checked", true);
	   }else{
		   $('input:checkbox').prop("checked", false);
	   } 
	});
	
	 $('.aaa_234 input[type=checkbox]').on("click", function(){
// 		 var allCheck = $('input[name=22]:checked').length + $('input[name=33]:checked').length + $('input[name=44]:checked').length + $('input[name=55]:checked').length;
		 var _check = $('#all').is(":checked") == true ? $('input:checked').length -1 : $('input:checked').length;
		 var allchekCnt = $('input').length -1;
		 
		   if(allchekCnt == _check) {
			   $('#all').prop("checked", true);
		   }else{
			   $('#all').prop("checked", false);
		   }
	   });
	 
	$('.aaa_234').on('click', function(){
		var flag = false;
		$('.aaa_234 input[type=checkbox]').each(function(i, e){
			if($(e).prop('id') != 'all' && !$(e).is(':checked')){
				flag = true;
				return false;
			}
		});
		if(flag){
			$('#all').prop("checked", false);
		}else{
			 $('#all').prop("checked", true);
		}
	});
	 
})

</script>
</head>
<body>
<div class="a111">
<h1 id="bbb">Thymeleaf 예제</h1>
<!-- <span th:text="${member.userNo}"></span><br/> -->
<!-- <span th:text="${member.userId}"></span><br/> -->
<!-- <span th:text="${member.userNm}"></span><br/> -->
<select class="sel">
	<option value="사과" >1</option>
	<option value="배" >2</option>
	<option value="당근" >3</option>
	<option value="수박" >4</option>
</select>

<div class="aaa_234">
	<input type="checkbox" name="11" value="1" id="all"><label for="all">전체선택</label> 
	<input type="checkbox" name="22" value="2">
	<input type="checkbox" name="33" value="3">
	<input type="checkbox" name="44" value="4">
	<input type="checkbox" name="55" value="5">
</div>
</div>

<table>
	<thead>
		<colgroup>
			<col width="100px;">
			<col width="200px;">
			<col>
		</colgroup>
	</thead>
	<tbody>
		<tr>
			<td>제목</td>
			<td>내용</td>
			<td>날짜</td>
		</tr>
		<tr>
			<td>졸리다</td>
			<td>난ㅁ;ㅏㅣㅁ넝멈난ㅁ;ㅏㅣ</td>
			<td>2019-11-10</td>
		</tr>
		<tr>
			<td>졸리다</td>
			<td>난ㅁ;ㅏㅣㅁ넝멈난ㅁ;ㅏㅣ</td>
			<td>2019-11-10</td>
		</tr>
		<tr>
			<td>졸리다</td>
			<td>난ㅁ;ㅏㅣㅁ넝멈난ㅁ;ㅏㅣ</td>
			<td>2019-11-10</td>
		</tr>
	</tbody>
</table>
</body>
</html>