<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="mainBody" id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:include="fragments/common/sideBar"></th:block>
  	<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
		<th:block th:include="fragments/common/topBar"></th:block>
		<th:block layout:fragment="content_body"></th:block>
		<th:block th:include="fragments/main/main_footer"></th:block>
    </div>
    <!-- End of Content Wrapper -->
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
	  <i class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
	        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">×</span>
	        </button>
	      </div>
	      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
	      <div class="modal-footer">
	        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
	        <a class="btn btn-primary" href="login.html">Logout</a>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- fileUpload Modal-->
	<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Excel File Upload</h5>
	        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">×</span>
	        </button>
	      </div>
			<div class="modal-body">
				<div id="dropzone">
					<form action="excelFileUpload" method="post" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="excelFileUpload">
					  <div class="fallback">
					    <input name="file" type="file" multiple />
					  </div>
					</form>
				</div>
			</div>
	    </div>
	  </div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<script th:src="@{/custom/js/custom.js}"></script>
	<script th:src="@{/custom/dropzone/js/dropzone.js}"></script>
	<th:block layout:fragment="custom_js"></th:block>
	
</body>
</html>