<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>내가뭘먹은거지?</title>
</th:block>

<th:block layout:fragment="custom_css">
    
</th:block>


<th:block layout:fragment="content_body">
<!-- Main Content -->
<div id="content">


<!-- Begin Page Content -->
	<div class="container-fluid">

<!-- Page Heading -->
<h1 class="h4 mb-2 text-gray-800">가계부</h1>
<p class="mb-4">오늘도 나는 얼마나 먹은걸까?</p>

<!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="">
      	<a href="#" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50"><i class="fas fa-file-excel"></i></span>
          <span class="text">Excel Upload</span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
         <colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
			<col width="25%" />
			<col width="auto" />
		 </colgroup>
          <thead>
            <tr>
              <th>번호</th>
              <th>분류</th>
              <th>거래일시</th>
              <th>출금액</th>
              <th>입금액</th>
              <th>거래후 잔액</th>
              <th>거래내용</th>
              <th>코멘트</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>번호</th>
              <th>분류</th>
              <th>거래일시</th>
              <th>지출</th>
              <th>입금</th>
              <th>잔액</th>
              <th>거래내용</th>
              <th>코멘트</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">
				<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    line-height: 1.0;">
                   	식대
                </button>
			 </td>
              <td class="text-center">2019-11-17 12:23</td>
              <td class="text-right">30000</td>
              <td class="text-right">0</td>
              <td class="text-right">20,000</td>
              <td class="text-left">점심</td>
              <td class="text-left">필수생활비</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</th:block>

<th:block layout:fragment="custom_js">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
</th:block>

</html>