<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>내가뭘먹은거지?</title>
</th:block>

<th:block layout:fragment="custom_css">
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</th:block>


<th:block layout:fragment="content_body">
<!-- Main Content -->
<div id="content">


<!-- Begin Page Content -->
	<div class="container-fluid">

<!-- Page Heading -->
<h1 class="h4 mb-2 text-gray-800">가계부</h1>
<p class="mb-4">오늘도 나는 얼마나 먹은걸까?</p>

  <div class="card shadow mb-4">
    <div class="card-header badge-info">
		<h5>이달의 예산 사용 현황</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="statusTable" width="100%" cellspacing="0">
         <colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
			<col width="auto" />
		 </colgroup>
          <thead>
            <tr>
              <th>지출내역</th>
              <th>목표예산</th>
              <th>실사용금액</th>
              <th>예산사용율</th>
              <th>예산잔액</th>
              <th>초과지출소명</th>
            </tr>
          </thead>
          <tbody>
          <th:block th:each="data : ${targetAccountList}">
            <tr>
              <td class="text-center" th:text="${data.codeNm}">저축/투자</td>
              <td class="text-right" >
              	<input type="text" id="targetBudget" name="targetBudget" class="txR" th:value="${#numbers.formatInteger(data.targetBudget, 0, 'COMMA')}">
              </td>
              <td class="text-right">0</td>
              <td class="text-right">0%</td>
              <td class="text-right">410000</td>
              <td class="text-left" th:text="${data.comment}"></td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="monthArea">
      	<th:block th:each="index : ${#numbers.sequence(1,12)}">
      	<a href="#" class="btn btn-info btn-icon-split" style="width: 8%;">
          <span class="text" th:text="${index+'월'}"></span>
        </a>
      	</th:block>
      	<a href="#" class="btn btn-success btn-icon-split mt-2 " style="width: 8%;" data-toggle="modal" data-target="#fileUploadModal">
          <span class="text">ExcelUpload</span>
        </a>
      </div>
      <div class="btn-group mt-2">
      	
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
         <colgroup>
			<col width="5%" />
			<col width="8%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
			<col width="12%" />
			<col width="25%" />
			<col width="auto" />
		 </colgroup>
          <thead>
            <tr>
              <th>번호</th>
              <th>분류</th>
              <th>거래일시</th>
              <th>출금액</th>
              <th>입금액</th>
              <th>거래후 잔액</th>
              <th>거래내용</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="data : ${accountList}">
              <td class="text-center" th:text="${data.no}"></td>
              <td class="text-center">
              	<div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   	 선택하세요
                  </button>
                  <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <div class="dropdown-item">저축/투자</div>
                    <div class="dropdown-item">주거</div>
                    <div class="dropdown-item">생활용품</div>
                  </div>
                </div>
			 </td>
              <td class="text-center" th:text="${data.tradeDate}"></td>
              <td class="text-right" th:text="${#numbers.formatInteger(data.withdrawAmt, 0, 'COMMA')}"></td>
              <td class="text-right" th:text="${#numbers.formatInteger(data.depositAmt, 0, 'COMMA')}"></td>
              <td class="text-right" th:text="${#numbers.formatInteger(data.afterAmt, 0, 'COMMA')}"></td>
              <td class="text-left" th:text="${data.tradeComment}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</th:block>

<th:block layout:fragment="custom_js">
	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>
	<script>
		$(document).ready(function(){
			
		});
	</script>
</th:block>

</html>